<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RabbitMq" value="amqp://rHOpc0aT:S5zHHJg-5T3DllLYW1sbs2VP_ykij6kv@furry-silver-3.bigwig.lshift.net:10748/9lQ2glyb8KmP" />
  </appSettings>
  <connectionStrings>
    <clear />
    <add name="Main" connectionString="Server=4cc1cea4-289f-46f8-a134-a2cb008ac065.sqlserver.sequelizer.com;Database=db4cc1cea4289f46f8a134a2cb008ac065;User ID=nakbvsrhsomthzqc;Password=8e6gMyX5KnVPqtsw4FK6TR28dixbcyUud6HzppPhkBzM48bypgZUsRspm6dCaW3k" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>