<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="Main"
      connectionString="Server=4cc1cea4-289f-46f8-a134-a2cb008ac065.sqlserver.sequelizer.com;Database=db4cc1cea4289f46f8a134a2cb008ac065;User ID=nakbvsrhsomthzqc;Password=8e6gMyX5KnVPqtsw4FK6TR28dixbcyUud6HzppPhkBzM48bypgZUsRspm6dCaW3k"
      xdt:Transform="Replace" xdt:Locator="Match(name)"/>
  </connectionStrings>
  <appSettings>
    <add key="RabbitMq" value="amqp://rHOpc0aT:S5zHHJg-5T3DllLYW1sbs2VP_ykij6kv@furry-silver-3.bigwig.lshift.net:10748/9lQ2glyb8KmP" />
  </appSettings>
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an atrribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
