@using Wotstat.Application.Boilerplate.Extensions.Web

@if (Html.AccountName() == null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="@ViewBag.OAuthUrl">Войти</a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            Привет  @Html.AccountName()!
        </li>
    </ul>
}